<p>The <%= @test_passage.test.title %>
  <% if passed_questions(@test_passage) >= TestPassagesHelper::TEST_PASSED %>
    test was completed with <span class="passed"><%= @test_passage.correct_questions %></span> correct questions
  <% else %>
    test was failed with <span class="failed"><%= @test_passage.correct_questions %></span> correct questions
  <% end %>
</p>

<p>
  <%= link_to 'Back to test list', root_path %>
</p>

