<footer>
  <p>
    <%= current_year %>, Дмитрий Петров(Dade Niman)
  </p>
  <p>
    <%= github_url("dniman", "test_guru") %>
    - <%= t(".description") %> <a href="http://thinknetica.com/" target="_blank">Thinknetica</a>
  </p>
</footer>
