<tr>
  <td><%= link_to truncate(user_gist.question.body, length: 25), admin_question_path(user_gist.question) %></td>
  <td><%= link_to gist_hash(user_gist.gist_url), user_gist.gist_url, target: "_blank" %></td>
  <td><%= user_gist.user.email%></td>
</tr>
