<tr>
  <td><%= test.title %></td>
  <td><%= test_level(test) %></td>
  <% if user_signed_in? %>
    <td>
      <%= button_to t("helpers.buttons.start"), start_test_path(test), { class: "btn btn-primary" } %>
    </td>
  <% end %>
</tr>
