<table>
  <tr>
    <th><%= t(".title") %></th>
    <th><%= t(".level") %></th>
    <% if user_signed_in? %>
      <th><%= t(".actions") %></th>
    <% end %>
  </tr>

  <%= render @tests %>

</table>
